.bar {
    display: flex;
    min-width: min(100%, 500px);
}

.bar-label {
    width: 125px;
}

.bar-meter {
    border-radius: 0;
    background: none;
    background-color: #201a18;
    height: 25px;
    flex: 1;
    box-shadow: 1px 1px 3px #00000099;
}

.bar-meter::-moz-meter-bar {
    background: none;
    background-color: yellow;
}

.bar-meter[state="danger"]::-moz-meter-bar {
    background-color: red;
}

.bar-meter[state="warning"]::-moz-meter-bar {
    background-color: orange;
}

.bar-meter[state="healthy"]::-moz-meter-bar {
    background-color: green;
}