:root {
    --orange: #f06314;
    --gray: #333333;
    --white: #ffffff;
}

html, body {
    background-color: var(--gray);
    color: var(--white);
    height: 100vh;
    height: 100dvh;
}

button {
    border: none;
    box-shadow: 2px 2px 3px #00000099;
    padding: 0.5em 1em;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: var(--orange);
    color: var(--white);
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
}

button:hover {
    background-color: #fc8038;
}

.help-button {
    aspect-ratio: 1;
    border-radius: 100%;
    float: left;
    margin: 1em 0 0 1em;
}

.player-display {
    background: url('img/arena.jpg');
    background-position: center 65%;
    background-size: cover;
}

.player-photo {
    display: block;
    height: 300px;
    margin: 0 auto;
}

.player-name {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    color: var(--white);
    font-size: 1.5rem;
    padding: 0.25em 0em;
    font-weight: bold;
}

.player-stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em 3em;
    padding: 1.5em;
}

.actions {
    display: grid;
    grid-template-columns: 
        repeat(auto-fit, minmax(300px, 1fr));
    gap: 3em;
    padding: 1em;
    flex: 1;
    max-height: 300px;
    justify-items: center;
}

.action-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 400px;
    gap: 0.5em;
}

.log {
    min-width: 30ch;
}